/* Variables */
:root {
  --main-color: #fc036b;
  --secondary-color: whitesmoke;
}

/* Global Rules */
body {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* Navbar */
.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 20px;
  color: var(--secondary-color);
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-links li {
  margin: 0 20px;
}
.nav-links li a {
  color: var(--secondary-color);
}
li:first-child a {
  color: var(--main-color);
  text-decoration: underline;
  font-size: 18px;
}
.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}

/* Header */
header {
  background-image: url(../images/header-bg.png);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: var(--secondary-color);
}
header .header-content {
  text-align: center;
}
header .header-content h2 {
  font-size: 4vmin;
}
.line {
  height: 4px;
  width: 100px;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 10px auto;
}
header .header-content h1 {
  margin-top: 40px;
  font-size: 7vmin;
  margin-bottom: 40px;
}
.btn {
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 8px;
  color: var(--secondary-color);
}
.btn:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  box-shadow: 2px 2px 5px #00000056;
}

/* Events */

section {
  margin: 70px auto;
  width: 80%;
}
.title {
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
.col {
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col img {
  width: 100%;
}
figcaption {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.col p {
  margin: 20px auto;
  width: 85%;
  color: #7c7c7c;
  letter-spacing: 1px;
}
/* Explore */
.explore {
  background-image: url("../images/bg2.png");
  width: 100vw;
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.explore-content {
  margin: 0px 60px;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explore h2 {
  color: var(--secondary-color);
  font-size: 6vmin;
}
.explore p {
  margin: 20px 0;
  color: whitesmoke;
}

/* Tours */
.tours h1 {
  font-size: 5vmin;
  margin-left: 7%;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
}
.image-gallery img {
  width: 48%;
  margin: 0 2% 2% 0;
}
.tours .line {
  margin-left: 8%;
}

/* footer */

footer {
  background-color: #484872;
  color: whitesmoke;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  text-align: center;
  margin-bottom: 3%;
}

/* Mobile Device */
@media only screen and (max-width: 850px) {
  /* Navbar */
  .navbar {
    padding: 0;
  }
  .menu-btn {
    display: block;
  }
  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: #484872;
    margin-top: -900px;
    transition: all 1s ease;
    border-bottom-right-radius: 20%;
  }
  .mobile-menu {
    margin-top: 0px;
  }
  .nav-links li {
    margin: 20px auto;
  }
  .nav-links li a {
    color: var(--secondary-color);
  }
  li:first-child a {
    color: var(--main-color);
    text-decoration: underline;
    font-size: 18px;
  }

  /* Explore */
  .explore-content {
    width: 80%;
  }
  /* Event */
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    margin: 0px 0 20px;
  }
  .image-gallery {
    flex-direction: column;
    width: 100%;
  }
  .image-gallery img {
    width: 100%;
  }
}
/* Animation */
img {
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.1);
}
li a:hover {
  color: var(--main-color);
}
